.message
  %ul.upper-message
    %li.upper-message__user_name ユーザー①
    %li.upper-message__date 2018/04/09 11:00
  %ul.lower-message
    %li.lower-message__content メッセージ①
.message
  %ul.upper-message
    %li.upper-message__user_name ユーザー②
    %li.upper-message__date 2018/04/09 12:00
  %ul.lower-message
    %li.lower-message__content メッセージ②
