.message
  .upper-message
    .upper-message_user_name ユーザー①
    .upper-message_date 2018/04/09 11:00
    .lower-message
    .lower-message_content メッセージ①
.message
  .upper-message
    .upper-message_user_name ユーザー②
    .upper-message_date 2018/04/09 12:00
    .lower-message
    .lower-message_content メッセージ②
